
.healthDataFormMain {
    padding: 15px;
    /* border: 1px solid blue; */
}

.symptonsRow > .ant-col {
    display: flex;
    align-items: flex-start;
}

.ant-form-item-explain-error {
    padding-left: 5px;
    text-align: start;
}

/* .ant-form-item-row {
    border: 1px solid red;
} */

@media only screen and (max-width: 500px) {
    .healthDataFormMain {
        text-align: start;
    }
}