.layoutMain {
    min-height: 100vh;
    text-align: center;
}

.ant-layout-header {
    font-size: 30px;
    min-height: 50px;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentMain {
    border: 1px solid red;
}

.userInputCol {
    border-right-style: solid;
    border-right-width: 0.8px;
    border-right-color: #8382829d
}