:root {
    --primary-bg-color: rgba(1, 77, 148, 0.925);
    --primary-font-color: #fff;
    --secondary-bg-color: rgba(235, 235, 235, 0.849);
}

.layoutMain {
    min-height: 100vh;
    text-align: center;
}

.layoutHeader {
    font-size: 30px;
    min-height: 50px;
    max-height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--primary-font-color);
    background-color: var(--primary-bg-color);
}

.layoutContent {
    /* padding: 15px 50px; */
    padding: 15px;
    background-color: var(--secondary-bg-color);
}

.layoutFooter {
    color: var(--primary-font-color);
    background-color: var(--primary-bg-color);
}